body {
  /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
  //  background-color: white;
  //  .content {
  //   font-size: 14px;
  //  }
  //  h1 {
  //   color: black;
  //  }

  padding-bottom: 0px !important;

  footer {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-top: 1px solid #e0e0e0;
  }

  .search-button {
    border-radius: 5px;
    height: 2em;
    flex-grow: 1;
    margin: 10px 10px;
    border: 1px solid var(--text-faint);
    justify-content: space-between;

    > .search-icon {
      margin: 10px;
    }

    .search-text {
      flex-grow: 1;
      text-align: center;
    }

    &:hover {
      border: 1px solid var(--text-accent);
    }
  }
}
